
.react-autosuggest__container {
    width: 100%;
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    background-color: transparent;
    color: #e4d6ba;
    font-family: Orbitron, sans-serif;
    box-shadow: none;
    outline: 0;
    border: none;
    margin-top: 15px;
}

.react-autosuggest__suggestions-list {
    padding-left: 0;
    margin-top: 0;
}

.react-autosuggest__suggestion--focused {
    background-color: #CCAB84;
}

.react-autosuggest__suggestion {
    text-align: left;
    list-style: none;
    width: 100%;
    padding: .1em;
    color: #314756;
    cursor: pointer;
    border-bottom: 1px solid #CCAB84;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFEDCB;
    display: block;
    padding-left: 0;
    max-height: 400px;
    overflow-y: scroll;
}
